<h1>Edit photo</h1>

<form action="http://localhost:3000/update_photo/<%= @selectedphoto.id %>">

  <div>
    <label for="photo_caption">Caption:</label>
    <input id="photo_caption" type="text" value="<%= @selectedphoto.caption %>" name="the_caption" >
  </div>
  <div>
    <label for="photo_image_url">Image URL:</label>
    <input id="photo_image_url" type="text" value="<%= @selectedphoto.source %>" name="the_source" >
  </div>
  <div>
    <button>Update Photo</button>
  </div>
</form >
